.monitor-stream-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
}

.monitor-stream-container video {
  max-width: 100%;
  max-height: 100%;
  /* object-fit: contain; */
  background-color: black;
}

.goBackButton {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goBackButton:hover {
  background-color: #333;
}
