#mic-button {
    position: absolute;
    aspect-ratio: 1/1;
    padding: 1%;
    padding-bottom: 0;
    top: 80%;
    left: 88%;
    z-index: 2;
    background-color: rgba(0, 25, 51, 0.75);
    border: black solid 3px;
}


