/* 3D environment */
.environmentUI {
    z-index: 100000000;
}
#mic-button {
    position: absolute;
    aspect-ratio: 1/1;
    padding: 1%;
    padding-bottom: 0;
    top: 80%;
    left: 88%;
    background-color: rgba(0, 25, 51, 0.75);
    border: black solid 3px;
}
.roomModeController{
    width: 30%;
    position: absolute;
    height: 7%;
    top: 2%;
    left: 3%;
    padding: 1%;
    background-color: rgba(0, 25, 51, 0.75);
    outline: none;
    border: black solid 2px;
    font-size: 1.2rem;
    color: #EDE8F5;
}
.roomModeController select {
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
    border-bottom: #EDE8F5 solid 2px;
    outline: 0;
    font-size: 1.2rem;
    color: #EDE8F5;
}
.tvLinkInput {
    width: 30%;
    height: 5%;
    padding: 1%;
    position: absolute;
    top: 9%;
    left: 3%;
    background-color: rgba(0, 25, 51, 0.75);
    outline: none;
    border: black solid 2px;
    font-size: 1.2rem;
    color: #EDE8F5;
}
.tvLinkInput:focus {
    border-color: #EDE8F5;
}
.leaveMonitorBtn {
    position: absolute;
    left: 48%;
    top: 92%;
    background-color: rgba(0, 25, 51, 0.75);
    border: black solid 3px;
    color: #EDE8F5;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    padding: 1%;
}
/*
    Colors used: 
    #3D52A0
    #7091E6
    #8697C4
    #ADBBDA
    #EDE8F5
*/
/* Main menu */
.mainDiv{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE8F5;
    font-size: 2rem;
    color: #EDE8F5;
}
/* Main menu text */
.mainDiv h2 {
    color: #8697C4
}
/* Inputfield for name */
.nameField {
    height: 5%;
    border: 0;
    border-bottom: 4px solid #8697C4;
    background-color: #EDE8F5;
    font-size: 1.5rem;
    color: #3D52A0
}
.nameField:focus {
    outline: none;
    border-color: #3D52A0;
}
::placeholder {
    color: #7091E6;
    opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
    color: #7091E6;
}
/* Container for input fields + model */
.characterEditorDiv{
    height: 60%;
    width: 70%;
    padding: 2%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: solid 3px #ADBBDA;
    border-radius: 10px;
    background-color: #8697C4;
    font-size: 1.5rem;
}
/* Container for all editor inputboxes */
.inputBoxesDiv{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%; 
    border-right: solid 2px #ADBBDA;
}
/* Container for gender radiobuttons and text */
.genderBox {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}
/* Container for inputfield+label */
.editorBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%
}

/* 3d Model container */
.displayModelDiv {
    width: 50%
}

/* Connect button */
.menuButton {
    width: 20%;
    height: 5%;
    background-color: #ADBBDA;
    border: solid 4px #8697C4;
    border-radius: 5px;
    outline: none;
    font-size: 1.35rem;
    color: #EDE8F5;
}
.menuButton:hover {
    border-color: #7091E6;
}
.menuButton:active {
    border-color: #3D52A0;
}
