.environmentUI {
    z-index: 100000000;
}

#mic-button {
    position: absolute;
    aspect-ratio: 1/1;
    padding: 1%;
    padding-bottom: 0;
    top: 80%;
    left: 88%;
    background-color: rgba(0, 25, 51, 0.75);
    border: black solid 3px;
}

.tvLinkInput {
    position: absolute;
    top: 2%;
    left: 3%;
}

.mainDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.characterEditorDiv{
    display: flex;
    flex-wrap: wrap;
    height: 50%
}

.editorBox{
    display: flex;
    align-items: center;
    gap: 2%
}
